modules = ["nodejs-20"]
run = "pnpm dev -- --host 0.0.0.0"

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25793
externalPort = 3000

[agent]
expertMode = true
